{% extends 'base.html' %}
{% load static %}
<style>

</style>

{% block content %}
<div class="row bg-light">
    <div class="h2 text-center">About <b>Us <i class="fa fa-male"></i></b></div>
    <div class="row" style="height:300px;">
        <div class="col-sm-11 " style="padding-left:90px;">
            <img src="{% static 'images/abt.jpg' %}" style="height:300px;width:1200px;">
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
<div class="row bg-light">

        <p class="text-center">HELLO FRIENDS WELCOME TO SAMACHAR INDIA</p>
            <div class="container px-5">
                Samachar India is a professional breaking news plateform. Here we will provide you only interesting
                content, which you will like very much.
                We're dedicated to providing you the best of breaking news, with a focus on dependablity and latest
                online news portal.
                We're working to turn our passion for breaking news into a booming online website. We hope you enjoy our
                breaking news as much as we enjoy offering them to you.<br/>
                If you require any more information or have any question about our site's, Please feel free to contact
                us by email at shashankverma10602@gmail.com or phone no-6392192661.<br/><br/><br/>
               <div class="text-center"><b>I will keep posting more important posts on my website for all of you. please give your support and
                love.</b><br/></div>

            <div class="text-center">Thanks For visting our website.</div>

            <div class="text-center"> Contact Us !</div>
            <p class="text-center">shashankverma10602@gmail.com</p>
        </div>
    {% endblock %}
    </div>
